@import url('../../css/_variables.css');

.HeaderPhotographer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FAFAFA;
}

.HeaderPhotographer > div {
    width: 30%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px;
    text-align:  center;
}

.HeaderPhotographer_Name {
    font-size: 24px;
    color: var(--secondary-color);
}

.HeaderPhotographer_Location {
    font-size: 24px;
    color: var(--primary-color);
}

.HeaderPhotographer_TagLine {
    font-size: 18px;
    color: #525252;
}

.HeaderPhotographer > div:first-child {
    text-align: left;
}

@media only screen and (min-width: 552px) {
    .HeaderPhotographer_Name {
        font-size: 26px;
    }
}

@media only screen and (min-width: 992px) {
    .HeaderPhotographer {
        justify-content: space-between;
        flex-direction: row;
    }
    .HeaderPhotographer_Name {
        font-size: 34px;
    }
}

@media only screen and (min-width:1200px)  {
    .HeaderPhotographer_Name {
        font-size: 64px;
    }
}
