@import url('../../css/_variables.css');

.HeaderPhotographer {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FAFAFA;
}

.HeaderPhotographer > div {
    display: flex;
    flex-basis: 30%;
}

.HeaderPhotographer > div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.HeaderPhotographer_Name {
    font-size: 24px;
    color: var(--secondary-color);
}

.HeaderPhotographer_Location {
    font-size: 24px;
    color: var(--primary-color);
}

.HeaderPhotographer_TagLine {
    font-size: 18px;
    color: #525252;
}

.HeaderPhotographer > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 552px) {
    .HeaderPhotographer_Name {
        font-size: 26px;
    }
}

@media only screen and (min-width: 992px) {
    .HeaderPhotographer {
        justify-content: space-between;
        flex-direction: row;
    }
    .HeaderPhotographer > div:first-child {
        justify-content: space-between;
        align-items: flex-start;
    }
    .HeaderPhotographer_Name {
        font-size: 34px;
    }
}

@media only screen and (min-width:1200px)  {
    .HeaderPhotographer_Name {
        font-size: 64px;
    }
}
