@import url('../../css/_variables.css');

.FormButton {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--primary-color);
    font-size: 10px;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.FormButton_Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: auto;
    margin: auto;
    transform: translate(-50%, -50%);
    padding: 5px 25px;
    background: #DB8876;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.FormButton_Modal_Close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    color: white;
    cursor: pointer;
}

.FormButton_Modal_Content {
    font-size: 22px;
}

.FormButton_Modal_Content > div {
    width: 100%;
    display: flex;
}

.HeaderPhotographer_Portrait {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    height: 200px;
}

.HeaderPhotographer_Portrait > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (min-width: 552px) {
    .FormButton {
        width: 100px;
        height: 40px;
        font-size: 12px;
        margin: 10px 0;
    }
    .FormButton_Modal_Content {
        font-size: 24px;
    }
    .FormButton_Modal_Close {
        top: 17px;
        right: 17px;
        width: 17px;
        height: 17px;
    }
}

@media only screen and (min-width: 992px) {
    .FormButton {
        width: 120px;
        height: 49px;
        font-size: 15px;
    }
    .FormButton_Modal_Content {
        font-size: 34px;
    }
    .FormButton_Modal_Close {
        top: 22px;
        right: 22px;
        width: 22px;
        height: 22px;
    }
}

@media only screen and (min-width:1200px)  {
    .FormButton {
        width: 170px;
        height: 69px;
        font-size: 20px;
    }
    .FormButton_Modal_Content {
        font-size: 44px;
    }
    .FormButton_Modal_Close {
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
    }
}