@import "../../css/_variables.css";

.Heart_Gallery_Content_Info > div:first-child {
    font-size: 22px;
    line-height: 32px;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
}

.Heart {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Heart > svg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 21px;
    height: 24px;
}

.Heart:hover {
    cursor: pointer;
}
