.Photographer_Gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.Photographer_Gallery > div  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.Photographer_Gallery_Info > div:last-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.Photographer_Gallery_Info {
    line-height: 32px;
    display: flex;
}

.Photographer_Gallery_Info > div:first-child {
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    color: var(--primary-color);
}

.Photographer_Gallery_Sort {
    margin-top: 5px;
    margin-bottom: 20px;
}


@media only screen and (min-width: 768px) {
    .Photographer_Gallery_Info > div:first-child {
        font-size: 16px;
        line-height: 26px;
    }
}

@media only screen and (min-width: 992px) {
    .Photographer_Gallery {
        gap: 35px;
    }
    .Photographer_Gallery > div {
        width: 29%;
    }
    .Photographer_Gallery_Info > div:first-child {
        font-size: 18px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    .Photographer_Gallery {
        gap: 45px;
    }
    .Photographer_Gallery > div {
        width: 30%;
    }
    .Photographer_Gallery_Info > div:first-child {
        font-size: 22px;
        line-height: 32px;
    }
}
