.GalleryPhotographer_Gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.GalleryPhotographer_Gallery > div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.GalleryPhotographer_Gallery > div > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.GalleryPhotographer_Gallery > div > div > img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.GalleryPhotographer_Gallery_Content {
    line-height: 32px;
    display: flex;
    justify-content: space-between;
}

.GalleryPhotographer_Gallery_Content > div:first-child {
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
}

.GalleryPhotographer_Gallery_Content > div:last-child {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

@media only screen and (min-width: 768px) {
    .GalleryPhotographer_Gallery {
        gap: 35px;
    }
    .GalleryPhotographer_Gallery > div {
        width: 30%;
    }
    .GalleryPhotographer_Gallery_Content {
        line-height: 32px;
    }
    .GalleryPhotographer_Gallery_Content > div:first-child {
        font-size: 16px;
        line-height: 26px;
    }
}

@media only screen and (min-width: 992px) {
    .GalleryPhotographer_Gallery {
        gap: 35px;
    }
    .GalleryPhotographer_Gallery > div {
        width: 29%;
    }
    .GalleryPhotographer_Gallery > div > div > img {
        height: 400px;
    }
    .GalleryPhotographer_Gallery_Content {
        line-height: 32px;
    }
    .GalleryPhotographer_Gallery_Content > div:first-child {
        font-size: 18px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    .GalleryPhotographer_Gallery {
        gap: 45px;
    }
    .GalleryPhotographer_Gallery > div {
        width: 30%;
    }
    .GalleryPhotographer_Gallery > div > div > img {
        height: 450px;
    }
    .GalleryPhotographer_Gallery_Content {
        line-height: 32px;
    }
    .GalleryPhotographer_Gallery_Content > div:first-child {
        font-size: 22px;
        line-height: 32px;
    }
}
