@import "../../css/_variables.css";

.Nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: 18px;
    list-style-type: none;
    color: var(--primary-color);
    margin-top: 30px;
}

.Nav > li {
    margin: 0 30px;
}

.Nav > li > a {
    text-decoration: none;
    color: var(--primary-color);
}

.Nav_Logo {
    width: 100px;
}

@media only screen and (min-width: 992px) {
    .Nav {
        font-size: 26px;
    }
    .Nav > li {
        margin: 0 60px;
    }
    .Nav_Logo {
        width: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    .Nav {
        font-size: 36px;
    }
    .Nav > li {
        margin: 0 80px;
    }
    .Nav_Logo {
        width: 200px;
    }
}
